* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

#bio-image {
    width: 200px; 
    height: 200px;
    margin-right: 20px;
    float: left;
    border: blueviolet 2px solid;
}
#name {
    color: black;
    font-family: 'Galada';
    position: fixed;
    background-color: darkmagenta;
    /* opacity: .5; */
    /* top: 20px; */
    width: 250px;
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    padding: 20px;
    margin: -50px;
    
}
#about-me {
    border-bottom: solid;
    /* width: %; */
    margin: 20px;
    padding: 40px; 
    font-family: 'Knewave';
    color: blueviolet;
}
body {
    font-family: 'Knewave';
    font-size: 24px;
    /* color: darkmagenta; */
    line-height: 150%;
    background-image: url("polka-dots.png");
    margin: 40px;
    padding: 10px;
    border: 20px;
    /* background: lightslategray; */
}
#main-bio {
  /* float: left; */
}
#container {
    padding: 7%;
    margin: 0 auto;
    border: 10px;
    max-width: 1024px; 
    background-color: #f2f2f2;   
}

.right-links  {
    position: fixed; 
    /* background-color: darkmagenta; */
    width: 100%;
    text-align: right;

}
 
.About { 
 
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid darkblue;
    margin: 10px;
    color: #45a049;
    background-color: aquamarine;

    
}
.Portfolio {
     padding: 8px 10px;
    border-radius: 5px;
     border: 1px solid darkblue;
    margin: 10px; 
    background-color: aquamarine;

}
.Contact { 
    padding: 8px 10px; 
    border-radius: 5px; 
     border: 1px solid darkblue;
    margin: 10px;
    background-color: aquamarine;

}
li {
    display: inline-block;
    padding-right: 10px;
    padding-top: 22px;
    list-style: none;  
    font-size: 14px;

}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
#contact-info {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;

}
h3 {
    border-bottom: solid;
    }

#Portfolio {
    width: 1250px;
    margin: auto;
    color: blueviolet;
    /* border-bottom: solid; */
}
.pic-set {
    padding: 34px;
    left: 0;
    position: static;
    top: 0;
    margin: 34px;
}

.text1 {
  margin: 10px;
  width: 230px;
  height: 150px;
  float: left;
  background: url(https://picsum.photos/200/200/?random);
  background-size: cover;
  position: relative;
}

h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
}
.text2 {
    margin: 10px;
    width: 230px;
    height: 150px;
    float: left;
    background: url(https://picsum.photos/200/200/?random);
    background-size: cover;
    position: relative;
  }
  
  h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 8px;
    color: white;
    margin: 0;
    font: 14px Sans-Serif;
  }
  
  
.text3 {
    margin: 10px;
  width: 230px;
  height: 150px;
  float: left;
  background: url(https://picsum.photos/200);
  background-size: cover;
  position: relative;
}

h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
}


.text4 { margin: 10px;
    width: 230px;
    height: 150px;
    float: left;
    background: url(https://picsum.photos/200/200/?random);
    background-size: cover;
    position: relative;
  }
  
  h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 8px;
    color: white;
    margin: 0;
    font: 14px Sans-Serif;
  }
  
  
.text5 { margin: 10px;
    width: 230px;
    height: 150px;
    float: left;
    background: url(https://picsum.photos/200/200/?random);
    background-size: cover;
    position: relative;
  }
  
  h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 8px;
    color: white;
    margin: 0;
    font: 14px Sans-Serif;
  }
  
  
#info {
    font-size: 44px;

}
a:link { color: black; }
a:visited { color: blue; }
a:hover { color: pink; }
a:active { color: yellow; }

#footer {
    height: 50px; 
    width: 100%;
    padding: 20px;
    color: aqua;

 }
/* 
.clearfix:after {
    content:"";
    display:table;
    clear:both;
} */
@media only screen and (max-width: 980px) {
    body {
        background-color: lightblue;
    }
} 
@media only screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (max-width: 640px) {
    body {
        background-color: lightblue;
    }
}